<form>
  <fieldset class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" ng-model="usuario.nome">
  </fieldset>
  <fieldset class="form-group">
    <label for="login">Login</label>
    <input type="text" class="form-control" id="login" ng-model="usuario.login">
  </fieldset>
  <fieldset class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" id="senha" ng-model="usuario.senha">
  </fieldset>
  <button class="btn btn-lg btn-primary" ng-click="cadastrar(usuario)">
    Cadastrar
  </buton>
</form>
